@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  animation-duration: 1s;
} 
.header {
  width: 100%;
  height: auto;
  display: flex;
  position: absolute;
  padding: 20 0;
  background-color: #fff;
  top: 20px;
}
.hamburger-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-logo {
  display: inline-block;
  color: $green-color;
  font-family: $main-title;
  font-weight: 600;
  text-decoration: none;
  font-size: 22px;
  line-height: 36px;
}
.hamburger_btn {
  display: block;
  background-image: url(../../images/burger.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 28px;
  height: 19px;
  background-color: #fff;
  border: none;
}
.modal-menu {
  display: none;
  position: absolute;
  width: 100%; 
  top: -20px;
  left: 0;
  background-color: #ffffff;
  min-height: 570px;
  z-index: 1;
}

.modal-menu_active {
  display: block;
}
.modal-list-link {
  display: block;
  width: 100%;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  color: rgb(26, 183, 152);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 36px;
  text-decoration: none;
  // border: 2px solid rgb(26, 183, 152);
}

.modal-list {
    padding-top: 120px;
    text-align: center;
    background-color: white;
}
.modal-list-item {
  margin-bottom: 20px;
}
.hamburger-list {
  display: none;
}
.modal-close-btn {
  position: absolute;
  right: 0;
  width: 52px;
  height: 52px;
  background-image: url(../../images/modal-cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: none;
}

@media (min-width: 708px) {
  .header {
    min-height: 80px;
  }
  .site-logo {
    font-size: 30px;
  }
  .hamburger_btn {
    display: none;
  }
  .hamburger-list {
    width: 448px;
    display: flex;
    justify-content: space-between;
  }
  .hamburger-link {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: rgba(40, 37, 40, 0.6);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    text-decoration: none;
  }
  .hamburger-link:hover {
    color: rgba(40, 37, 40, 1);
    font-weight: 700;
  }

@media (min-width: 1145px) {
  .site-logo {
    font-size: 30px;
  }
  .hamburger_btn {
    display: none;
  }
  .hamburger-list {
    width: 448px;
    height: 88px;
    display: flex;
    justify-content: space-between;
  }
  .hamburger-link {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    color: rgba(40, 37, 40, 0.6);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 88px;
    text-decoration: none;
  }
  .hamburger-link:hover {
    color: rgba(40, 37, 40, 1);
    font-weight: 700;
  }
  .header {
    width: 100%;
    display: flex;
    position: absolute;
    padding: 30 0;
    background-color: #fff;
    margin-top: 20px;
  }
  
}
