.say {
  font-family: 'Open Sans';
}
.say__h3 {
  position: relative;
  font-size: 18px;
  font-family: $main-title;
  color: $green-color;
  font-weight: 700;
  line-height: 1.556;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 50px;
}
.say__h3::before {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  width: 60px;
  height: 2px;
  background-color: #babdc1;
}
.say__h3::after {
  content: '';
  position: absolute;
  display: block;
  top: 6px;
  right: 0px;
  width: 60px;
  height: 2px;
  background-color: #babdc1;
}
.say__h3-span {
  display: block;
}
.say__img {
  margin: 0px auto;
  border: 2px solid #c4c7c7;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-image: url(../../images/jondoe.jpg);
}
.say__name {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 30px;
}
.say__position {
  font-size: 12px;
  text-align: center;
}
.say__text {
  font-size: 16px;
  font-family: 'Open Sans';
  color: rgb(40, 37, 40);
  line-height: 1.625;
  text-align: center;
  padding-top: 30px;
}
.say__buttons {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d4d3d4;
  display: inline-block;
  margin-left: 7px;
}
.say__div-buttons {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.first-green {
  background-color: #1ab798;
}
@media (min-width: 708px) {
  .say__h3 {
    font-size: 28px;
    padding-bottom: 68px;
  }
  .say__h3-span {
    display: inline-block;
  }
  .say__h3::before {
    top: 15px;
    left: 65px;
  }
  .say__h3::after {
    top: 15px;
    right: 65px;
  }
  .say__text {
    font-size: 18px;
    line-height: 2;
    padding-top: 70px;
    width: 576px;
    margin: 0px auto;
    position: relative;
  }
  .say__text::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../../images/coma.png);
    left: -15px;
  }
  .say__div-buttons {
    padding-top: 65px;
    padding-bottom: 110px;
  }
}
@media (min-width: 1145px) {
  .say__h3 {
    font-size: 28px;
    padding-bottom: 68px;
  }
  .say__h3-span {
    display: inline-block;
  }
  .say__h3::before {
    top: 15px;
    left: 280px;
  }
  .say__h3::after {
    top: 15px;
    right: 280px;
  }
  .say__text {
    font-size: 18px;
    line-height: 2;
    padding-top: 107px;
    width: 942px;
    margin: 0px auto;
    position: relative;
  }
  .say__text::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../../images/coma.png);
    left: -40px;
  }
  .say__div-buttons {
    padding-top: 55px;
    padding-bottom: 130px;
  }
}
