// @keyframes flip {
//   from {
//     -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
//     transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
//     -webkit-animation-timing-function: ease-out;
//     animation-timing-function: ease-out;
//   }

//   40% {
//     -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
//     transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
//     -webkit-animation-timing-function: ease-out;
//     animation-timing-function: ease-out;
//   }

//   50% {
//     -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
//     transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
//     -webkit-animation-timing-function: ease-in;
//     animation-timing-function: ease-in;
//   }

//   80% {
//     -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
//     transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
//     -webkit-animation-timing-function: ease-in;
//     animation-timing-function: ease-in;
//   }

//   to {
//     -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
//     transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
//     -webkit-animation-timing-function: ease-in;
//     animation-timing-function: ease-in;
//   }
// }
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.team-container {
  padding-top: 50px;
}

.team {
  &__header {
    font-family: "Raleway", sans-serif;
    font-size: 1.125rem;
    line-height: 2.25rem;
    color: #1ab798;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    position: relative;
    width: 280px;
    margin: 0 auto;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 14px;
      width: 60px;
      height: 2px;
      background-color: #babdc1;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 14px;
      right: 0px;
      width: 60px;
      height: 2px;
      background-color: #babdc1;
    }
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #5885a5;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3.125rem;
  }
}

.member-card {
  &:hover .member-card__team-overlay {
    opacity: 1;
    animation-name: zoomIn;
    animation-duration: 0.7s;
  }

  &:hover .member-card__tex-name {
    color: #1ab798;
  }

  &__team {
    position: relative;

    &-overlay {
      background-color: rgba(14, 180, 147, .85);
      width: 270px;
      height: 300px;
      position: absolute;
      top: 0;
      opacity: 0;

      &-header {
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        margin-top: 1.25rem;
        margin-bottom: 0.75rem;
      }

      &-span {
        display: block;
      }

      &-text {
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        line-height: 24px;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        width: 14.375rem;
        display: block;
        margin: 0 auto;
        margin-bottom: 64px;
      }

      &-list {
        display: flex;
        justify-content: center;

        &-link {
          width: 2.625rem;
          height: 2.625rem;
          background-color: rgba(0, 0, 0, .3);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 5px;

          &:hover {
            background-color: #ffffff;
          }

          &:hover .member-card__team-overlay-list-link-svg {
            fill: #1ab798;
          }

          &-svg {
            width: 1.375rem;
            height: 1.125rem;
            fill: #ffffff;
          }
        }
      }
    }
  }

  &__text {
    text-align: center;
    margin-top: 1.125rem;

    &-name {
      font-family: "Open Sans", sans-serif;
      font-size: 1.125rem;
      line-height: 1.5rem;
      color: #062033;
      margin-bottom: 0.625rem;
    }

    &-profession {
      font-family: "Open Sans", sans-serif;
      font-size: 0.8125rem;
      line-height: 1.5rem;
      color: rgba(6, 32, 51, .56);
      font-weight: bold;
    }
  }
}

@media (max-width: 707px) {
  .member-card {
    margin-bottom: 3.125rem;
  }
}

@media (min-width: 708px) and (max-width: 1144px) {
  .team__list-item {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 64px;
  }

  .team__list {
    justify-content: center;
  }

  .team__text {
    width: 570px;
    margin: 0 auto;
  }
}

@media (min-width: 708px) {
  .team-container {
    padding-top: 6.75rem;
  }

  .team {
    &__header {
      font-size: 1.75rem;
      line-height: 2.125rem;
      margin-bottom: 4rem;
    }

    &__text {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 4.625rem;
    }


    &__list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media (min-width: 1145px) {
  .team__list {
    justify-content: space-between;
  }

  .team-container {
    padding-top: 5.625rem;
    padding-bottom: 140px;
  }

  .team {
    &__header {
      margin-bottom: 4rem;
    }

    &__text {
      margin-bottom: 106px;
    }
  }
}
