html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
}
.visually-hidden:not(:focus):not(:active),
input[type='“checkbox”'].visually-hidden,
input[type='“radio”'].visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 292px;
  padding: 10px;
  margin: auto;
}

/* планшеты до десктопов*/
@media (min-width: 708px)  {
  .container {
    width: 708px;
  }
}
/*десктопы*/
@media (min-width: 1145px) {
  .container {
    width: 1145px;
  }
}

